body {
    font-family: Arial, sans-serif;
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .container {
    max-width: 400px;
    height: 550px;
    margin: 100px auto;
    background-color: #333;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(1, 249, 113, 0.717);
    opacity: 0.8;
    position: relative;
    top: -20px;
  }

  .logo{
    position: absolute;
   
     }
   
     .logo img {
       height: 40px;
       width: 40px;
       position: absolute;
       left: 60px;
       background-color: white;
       padding: 10px;
       border-radius: 30px;
       top: -35px;
       left: 170px;
     }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: cyan;
    opacity: 0.5;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: aqua;
    opacity: 0.5;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #3d3d3d;
    border-style: none;

  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: cyan;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #3d3d3d;
    color: #ffffff;
  }
  
  .signin{
    position: relative;
    left: 45px;
  }

  .signin p{
    color: #ffffff;
    opacity: 0.6;
  }

  .signin p a{
    text-decoration: none;
    color: aqua;
    opacity: 0.6;
  }

  .signin p a:hover{
    opacity: 1;
  }
  